extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	section.home-slider
		.contaier
			.row
				.col
					.owl-carousel.owl-theme
						a.slider-item(href="https://landingpagevietnam.com/") 
							.item
								.blockimg
									figure
										img.img-fluid(src="./img/home_bg.png", alt="")
								.title
									.container
										.row
											.col.pl-0
												h1 "Hoa Hồng" - Ngôn Ngữ Tình Yêu
												p Với sắc hoa đa dạng, độ bền cao và mang nhiều thông điệp ý nghĩa, những đoá Hồng không chỉ dùng để trang trí không gian sống mà còn là món quà hoàn hảo giúp bạn gửi những tình cảm tốt đẹp đến người mình yêu thương.
												button(type="submit") Xem  thêm 
						a.slider-item(href="https://landingpagevietnam.com/") 
							.item
								.blockimg
									figure
										img.img-fluid(src="./img/home_bg.png", alt="")
								.title
									.container
										.row
											.col.pl-0
												h1 "Hoa Hồng" - Ngôn Ngữ Tình Yêu
												p Với sắc hoa đa dạng, độ bền cao và mang nhiều thông điệp ý nghĩa, những đoá Hồng không chỉ dùng để trang trí không gian sống mà còn là món quà hoàn hảo giúp bạn gửi những tình cảm tốt đẹp đến người mình yêu thương.
												button(type="submit") Xem  thêm 
						a.slider-item(href="https://landingpagevietnam.com/") 
							.item
								.blockimg
									figure
										img.img-fluid(src="./img/home_bg.png", alt="")
								.title
									.container
										.row
											.col.pl-0
												h1 "Hoa Hồng" - Ngôn Ngữ Tình Yêu
												p Với sắc hoa đa dạng, độ bền cao và mang nhiều thông điệp ý nghĩa, những đoá Hồng không chỉ dùng để trang trí không gian sống mà còn là món quà hoàn hảo giúp bạn gửi những tình cảm tốt đẹp đến người mình yêu thương.
												button(type="submit") Xem  thêm 
	section.home-intro
		.container
			.row
				.col-12.text-center.part-1
					a.title-item(href="https://landingpagevietnam.com/")
						.title
							figure
								img(src="../img/home_intro.png", alt="")
							figcaption
								h2 Dalat Hasfarm
				.col.part-2
					.row
						.col-sm-12.col-md-5
							.owl-carousel.owl-theme
								.blockimg
									figure
										img(src="./img/home_intro_1.png", alt="")
								.blockimg
									figure
										img(src="./img/home_intro_1.png", alt="")
								.blockimg
									figure
										img(src="./img/home_intro_1.png", alt="")
						.col-md-7.txt-details
							.txt-more
								h3 Ý nghĩa màu sắc của hoa Hồng???
								p Hoa Hồng là loài hoa vô cùng đặc biệt cả về hình dáng lẫn màu sắc. Cánh hoa Hồng mỏng manh. Lá có hình dáng của trái tim nên chúng được ví như ngôn ngữ không lời của tình yêu. Còn những chiếc gai và răng cưa của hoa Hồng thì được so sánh như lòng ghen tuông và sự đau đớn trong cuộc tình.
			.row.mt-5
				.col-12.text-center.part-3
					a.title-item(href="https://landingpagevietnam.com/")
						.title
							figure
								img(src="../img/home_intro.png", alt="")
							figcaption
								h2 Dalat Hasfarm
				.col.part-4
					.row
						.col-12.col-md-4
							a(href="https://landingpagevietnam.com/")
								.blockimg
									figure
										img(src="./img/home_intro_2.png", alt="")
									figcaption
										h5 Dalat Hasfarm
						.col-12.col-md-4
							a(href="https://landingpagevietnam.com/")
								.blockimg
									figure
										img(src="./img/home_intro_2.png", alt="")
									figcaption
										h5 Dalat Hasfarm
						.col-12.col-md-4
							a(href="https://landingpagevietnam.com/")
								.blockimg
									figure
										img(src="./img/home_intro_2.png", alt="")
									figcaption
										h5 Dalat Hasfarm
					.row
						.col-12.col-md-4
							a(href="https://landingpagevietnam.com/")
								.blockimg
									figure
										img(src="./img/home_intro_2.png", alt="")
									figcaption
										h5 Dalat Hasfarm
						.col-12.col-md-4
							a(href="https://landingpagevietnam.com/")
								.blockimg
									figure
										img(src="./img/home_intro_2.png", alt="")
									figcaption
										h5 Dalat Hasfarm
						.col-12.col-md-4
							a(href="https://landingpagevietnam.com/")
								.blockimg
									figure
										img(src="./img/home_intro_2.png", alt="")
									figcaption
										h5 Dalat Hasfarm
	section.home-banner
		.container
			.row
				.col
					.title
						h2 <span>If</span> you enjoy the fragrance of a rose 
							<br> You must accept the thorns which it bears.
	section.home-form
		.container
			.row
				.col-12.text-center.part-1
					a.title-item(href="https://landingpagevietnam.com/")
						.title
							figure
								img(src="../img/home_intro.png", alt="")
							figcaption
								h2 Dalat Hasfarm
				.col.part-2
					.row
						.col.col-md-6
							.owl-carousel.owl-theme
								.blockimg
									figure
										img.img-fluid(src="./img/home_form_1.png", alt="")
								.blockimg
									figure
										img.img-fluid(src="./img/home_form_1.png", alt="")
								.blockimg
									figure
										img.img-fluid(src="./img/home_form_1.png", alt="")
						.col-12.col-md-6
							.form-sg
								form(action="index.html" method="post" )
									input.form-control(type="text" name="ten" placeholder="Họ và tên")
									input.form-control(type="phone" name="dien thoai" placeholder="Điện thoại")
									input.form-control(type="email" name="email" placeholder="Email")
									textarea(name="content" placeholder="Nội dung" rows="5")
							.button-sg
								button.btn.btn-more(type="submit") Đăng kí
							
		
				
								

				
