<!-- ////////////// FOOTER ////////////// -->
footer.pt-4.mt-5.my-md-5.border-top
	.container
		.row
			.col-12.col-sm-6.col-md-4.part-1
				a.social-logo(href="https://landingpagevietnam.com/")
					.blockimg
						figure
							img(src="./img/logo_sm.png", alt="")
				p.social Tìm kiếm chúng tôi qua:
				ul.social-icon.list-unstyled
					li.social-item
						a.social-link(href="https://landingpagevietnam.com/")
							i.fa.fa-facebook
					li.social-item
						a.social-link(href="https://landingpagevietnam.com/")
							i.fa.fa-twitter
					li.social-item
						a.social-link(href="https://landingpagevietnam.com/")
							i.fa.fa-google
			.col-12.col-sm-6.col-md-4.part-2
				.title
					h3 Theo dõi bản tin của chúng tôi
					.form-email
						input.form-control(type="email" name="news" placeholder="Nhập email của bạn...")
						button(type="submit") Đăng kí
			.col-12.col-sm-6.col-md-4.part-3
				.title
					h3 Liên hệ
					a.address-link(href="https://www.google.com/maps/place/Trung+t%C3%A2m+%C4%91%C3%A0o+t%E1%BA%A1o+ti%E1%BA%BFng+anh+-+Tsus.com.vn/@10.8280079,106.67965,17z/data=!4m8!1m2!2m1!1zU-G7kSAyOCzEkMaw4budbmcgU-G7kSAyLCBQaMaw4budbmcgNywgUXXhuq1uIEfDsiBW4bqlcCwgVFAuIEjhu5MgQ2jDrSBNaW5o!3m4!1s0x317528fc1badca7b:0x23591e6914e01ff6!8m2!3d10.8278305!4d106.6812313") 
						p.address Địa chỉ: Số 28,Đường Số 2, Phường 7, Quận Gò Vấp, TP. Hồ Chí Minh
						p.tel Tel: +(84) 096.968.9893 --- +(84) 096.968.9893 
						p.web Website: landingpagevietnam.com

				









//- footer.pt-4.my-md-5.border-top
//- 	.container
//- 		.row
//- 			.col-12.col-md
//- 				img.mb-2(src="./img/logo.png" alt="")
//- 				small.d-block.mb-3.text-muted Copyright 2018 by 
//- 					a(href='/') FullStack Vietnam.
//- 			.col-6.col-md
//- 				h5 Features
//- 				ul.list-unstyled.text-small
//- 					li
//- 						a.text-muted(href="#") Cool stuff
//- 					li
//- 						a.text-muted(href="#") Random feature
//- 					li
//- 						a.text-muted(href="#") Team feature
//- 					li
//- 						a.text-muted(href="#") Stuff for developers
//- 					li
//- 						a.text-muted(href="#") Another one
//- 					li
//- 						a.text-muted(href="#") Last time
//- 			.col-6.col-md
//- 				h5 Resources
//- 				ul.list-unstyled.text-small
//- 					li
//- 						a.text-muted(href="#") Resource
//- 					li
//- 						a.text-muted(href="#") Resource name
//- 					li
//- 						a.text-muted(href="#") Another resource
//- 					li
//- 						a.text-muted(href="#") Final resource
//- 			.col-6.col-md
//- 				h5 About
//- 				ul.list-unstyled.text-small
//- 					li
//- 						a.text-muted(href="#") Team
//- 					li
//- 						a.text-muted(href="#") Locations
//- 					li
//- 						a.text-muted(href="#") Privacy
//- 					li
//- 						a.text-muted(href="#") Terms
