<!-- ////////////// HEADER ////////////// -->
header
  .k-menu-bar.container
    #logo.mr-auto
    button.k-button-toggle.navbar-toggler(k-toggle-for='#demoResAllInOneMenu') MENU
  #demoResAllInOneMenu.container.k-responsive-menu
    .k-logo.navbar-brand.mr-auto(k-menu-map-to='#logo') <img src="./img/logo_sm.png">
    ul.nav
      li.nav-item
        a.nav-link(href='#') About us
      li.nav-item
        a.nav-link(href='#') Servicesx
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='#') Action
          a.dropdown-item(href='#') Another action
          .dropdown-divider
          a.dropdown-item(href='#') Something else here
      li.nav-item
        a.nav-link(href='#') Shop
      li.nav-item
        a.nav-link(href='#') Contact us


//- header.fixed-top
//- 	.container
//- 		.row
//- 			.col
//- 				nav.navbar.navbar-expand-lg
//- 					a.navbar-brand(href="#") 
//- 						img(src="./img/logo_sm.png", alt="Logo")
//- 					//- Đây là nút sẽ hiển thị trong mobile
//- 					button.navbar-toggler(type="button" data-toggle="collapse" data-target="#fullStackMenu" aria-controls="fullStackMenu" aria-expanded="false" aria-label="Toggle navigation")
//- 						span.fa.fa-bars
//- 					#fullStackMenu.collapse.navbar-collapse
//- 						//- Thuộc tính '.mr-auto' này sẽ đẩy me nu về bên phải 
//- 						.mr-auto
//- 						ul.navbar-nav
//- 							li.nav-item.active
//- 								a.nav-link(href="index.html") Trang chủ	
//- 							li.nav-item
//- 								a.nav-link(href="services.html") Dịch vụ
//- 							li.nav-item
//- 								a.nav-link(href="about.html") Về chúng tôi
//- 							li.nav-item
//- 								a.nav-link(href="contact.html") Liên hệ
<!-- ////////////// HEADER ////////////// -->
